/* Aplicar la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #191724; /* Rose Pine base color */
    color: #e0def4; /* Rose Pine text color */
}

header {
    background-color: #3e5f7d; /* Rose Pine Pine color */
    color: #e0def4; /* Rose Pine text color */
    padding: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    margin: 20px;
}

.proyectos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proyecto {
    background-color: #232136; /* Rose Pine base color */
    border: 1px solid #6e6a86; /* Rose Pine subtle color */
    padding: 20px;
    width: 200px;
    color: #e0def4; /* Rose Pine text color */
}

footer {
    background-color: #3e5f7d; /* Rose Pine Pine color */
    color: #e0def4; /* Rose Pine text color */
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
